<%- include('../partials/header') %>
<h2>All Appointments</h2>
<div class="content">
<ul type="none">
<%car.forEach(function(c){%>
    <%c.appointment.forEach(function(app){%>
        <li class="apptlist">
        <p>Date: <%=app.date.toDateString()%> <br>Time: <%=app.time%> <br> Customer Comments: <br><%=app.carSymptom%></p> 
        <p>Vehicle:<%=c.make%> <%=c.model%> <%=c.year%></p>
        <p> <div class="underline"> Customer Contact:</div> <br>
            Name: <%=c.customer.firstName%> <%=c.customer.lastName%><br>
            Phone:<%=c.customer.phone%> <br>
             Email:<%=c.customer.email%></p>
        <p>Mechanic comments: <%=app.ownerComment%></p>
        <form method="GET" action="admin/<%=c.id%>/edit/<%=app.id%>">
        <button>View/edit Appointment</button>
    </form>
    <form method="POST" action="admin/<%=c.id%>/edit/<%=app.id%>/delete?_method=DELETE">
        <button>Delete Appointment</button>
    </form>
</li>
<%})})%>
</ul>
</div>
<%- include('../partials/footer') %>