<%- include('../partials/header') %>
<h2>Book Appointment for <%=car.make%> <%= car.model %> <%= car.year %>  </h2>
<form action="/cars/<%=car.id%>/" method="POST">
    <p class="apptlist">Select a Date:</p>
    <%let today = new Date().toJSON().slice(0, 10);%>
    <input class="makelarge" type="date" name="date" value="<%=today%>" min="<%=today%>" required >
    <p class="apptlist">Select a Time</p>
    <small>We are open from 9am to 5pm</small><br>
    <input class="makelarge" type="time" name="time" min="09:00" max="17:00" step="3600" required>
    <p class="apptlist">Issue With Vehicle:</p>
   <textarea class="comment" name="carSymptom" cols="100" rows="10"></textarea> <br>
    <button type="submit">Book Appointment</button>
</form>
<%- include('../partials/footer') %>