<%- include('../partials/header') %>
<h1>Edit Appointment for your <%=car.make%> <%= car.model %> <%= car.year %>  </h1>
<form method="POST" action="/dashboard/<%=car.id%>/?_method=PUT" >
    <p>Select a Date:</p>
    <%let today = new Date().toJSON().slice(0, 10);%>
    <input type="date" name="date" value="<%=today%>" min="<%=today%>" required >
    <p>Select a Time</p>
    <small>We are open from 9am to 5pm</small><br>
    <input type="time" name="time" min="09:00" max="17:00" step="3600" required>
    <p>Please briefly describe the problem with your vehicle:</p>
    <input type="text" name="carSymptom" size="50"><br>
    <button type="submit">Book Appointment</button>
</form>
<%- include('../partials/footer') %>