<%- include('../partials/header') %>
<h1 class="maintitle">Your Vehicles</h1>
<%if(!customer.firstName){%>
    <h2>Profile Setup</h2>
    <p>Enter account information:</p>
    <form action="/cars/newcustomer?_method=PUT" method="POST" autocomplete="'off">
    <p>E-mail:</p>
    <p><%=customer.email%></p>
    <p>Fist Name:</p>
    <input placeholder="Jane" class="makelarge" type="text" name="firstName">
    <p>Last Name:</p>
    <input placeholder="Doe" class="makelarge" type="text" name="lastName">
    <p>Phone #:</p>
    <input placeholder="XXX-XXX-XXXX" class="makelarge" type="text" name="phone" >
    <p>Make:</p>
    <input placeholder='eg. Honda' class="makelarge" type="text" name="make">
    <p>Model:</p>
    <input placeholder='eg. Civic' class="makelarge" type="text" name="model">
    <p>Year:</p>
    <input placeholder='eg. 2005' class="makelarge" type="text" name="year">
    <button type="submit">Submit</button>
   </form>
    <% } else{%> 
        <%if (customer.isAdmin){%>
            <a class="admin" href="/admin">ADMIN</a>
        <%}%>
        <h2> Welcome <%= customer.firstName%> </h2>

       <div><p>Click a Vehicle Name to view/book appointments</p></div>
<div class="content">
        <ul type="none">
        <% car.forEach(function(c){%>
        <li>
            <form method="POST" action="/cars/<%=c.id%>?_method=DELETE"><button type="submit" ><i class="material-icons trash">delete_forever</i></button></form>

            <a href="/cars/<%=c.id%>"><%= c.make %> <%= c.model %> <%=c.year %></a>
            
            <form action="/cars/<%=c.id%>/edit" method="GET"><button type="submit" ><i class="material-icons add">build</i></button></form>
           
        </li> 
        <%})%>
        </ul>
        <form action="/cars/new/">
            <button type="submit"> <i class="material-icons">add</i>
            Add a new Vehicle</button>
        </form>
        <% } %>
    </div>
<%- include('../partials/footer') %>