<%- include('../partials/header') %>
<br>
<h2>Appoinmtments for <%= car.make %> <%= car.model %> <%= car.year %> </h2>
<a href="/cars/<%=car.id%>/appointments/new">Book an appointment</a>
<% if(car.appointment.length===0){%>
    <p> **You have no appointments**</p>
    <%}else{%>
        <div class="content">
        <ul type="none">
            <%car.appointment.forEach(function(a,i){%>
                <li class="apptlist">
                    <p class="apptlist"><%=a.date.toString().slice(0,15)%></p>
                    <p class="apptlist">Time:<%=a.time %></p>
                    <small class="apptlist">Problem:<%=a.carSymptom%></small>
                    <form method="POST" action="/cars/<%=car.id%>/appointments/<%=a.id%>?_method=DELETE">
                        <button type="submit">Cancel</button>
                    </form>
                </li>
                <%  }) %>
                <%} %> </ul>
            </div>
<%- include('../partials/footer') %>